@import "src/theme";

.header-nav {
  margin: 20px auto 0;
  width: 70%;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    display: block;
  }
}

.link-wrap {
  padding: 20px;
}

a {
  text-decoration: none;
  color: #323232;
  padding: 4px 0;
  cursor: pointer;
  &.link-active {
    border-bottom: 2px solid $primary-сolor
  }
}

.spacer {
  flex: 1 1 auto;
}
