<header>
  <div class="header-nav">
    <span class="link-wrap">
      <a routerLink="/"
         routerLinkActive="link-active"
         [routerLinkActiveOptions]="{ exact: true }"
      >Posts</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated" class="link-wrap">
        <a routerLink="/create" routerLinkActive="link-active">Create post</a>
      </li>
      <li *ngIf="!userIsAuthenticated" class="link-wrap">
        <a routerLink="/auth/login" routerLinkActive="link-active">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated" class="link-wrap">
        <a routerLink="/auth/signup" routerLinkActive="link-active">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated" class="link-wrap">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</header>
