<div class="auth-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSignup(signupForm)" #signupForm="ngForm">
      <input class="app-input email-input"
             type="email"
             placeholder="e-mail"
             ngModel
             name="email"
             required
             email
             #emailInput="ngModel">
      <p class="error-msg" *ngIf="emailInput.invalid">Please, enter valid e-mail</p>
      <input type="password"
             name="password"
             class="app-input password-input"
             ngModel
             #passwordInput="ngModel"
             required
             placeholder="Password">
      <p class="error-msg" *ngIf="passwordInput.invalid">Please, enter valid password</p>
    <button *ngIf="!isLoading" class="app-button submit-button" type="submit">Sign Up</button>
  </form>
</div>
