:host {
  margin-top: 1rem;
  display: block;
}
.info-text {
  text-align: center;
}
mat-spinner {
  margin: auto;
}
.post-image {
  width: 100%;
  img {
    width: 50%;
    margin: auto;
    display: block;
  }
}

mat-paginator {
  margin-top: 1rem;
}
